/* Шрифты */
body {
    font-family: 'Noto Sans', sans-serif;
    color: black;
    background-color: white;
    margin: 0;
}

/* Стили слайдеров */

input[type="range"] {
    filter: grayscale(100%);
    transition:  filter 0.2s ease-in-out;
}

input[type="range"]:hover {
    filter: none;
}

/* Для широких экранов */

@media (min-width: 1300px) {
    .synth {    grid-template-columns: 80px 380px 380px 380px 80px;
        width: 1300px;
    }

    .keyboard { display: flex;
        border: 2px solid black;
        border-radius: 3px;
        background-color: #F8F0DF;
    }

    .presets {
        grid-column-start: 3;
        grid-column-end: 4;
    }
}

/* Для чуть менее широких экранов */

@media (max-width: 1299px) {
    .synth {    grid-template-columns: 5px 380px 380px 380px 5px;
        width: 1150px;
    }

    .keyboard { display: flex;
        border: 2px solid black;
        border-radius: 3px;
        background-color: #F8F0DF;
    }

    .presets {
        grid-column-start: 3;
        grid-column-end: 4;
    }
}

/* Для планшетов */

@media (max-width: 1149px) {
    .synth {    grid-template-columns: 5px 300px 300px 300px 5px;
        width: 910px;
    }

    label {
        display: block;
    }

    .keyboard { 
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto;
        border: none;
        border-radius: 0px;
        background-color: white;
    }

    .octave-1 {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
        border-top: 2px solid black;
        border-left: 2px solid black;
        border-bottom: 2px solid black;
        border-radius: 3px;
    }

    .octave-2 {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 3;
        border-top: 2px solid black;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
        border-radius: 3px;
    }

    .octave-3 {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
        border-top: 2px solid black;
        border-left: 2px solid black;
        border-bottom: 2px solid black;
        border-radius: 3px;

        margin-top: 30px;
    }

    .octave-4 {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
        border-top: 2px solid black;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
        border-radius: 3px;
        
        margin-top: 30px;
    }

    .presets {
        grid-column-start: 2;
        grid-column-end: 5;
    }
}

/* Для телефонов */

@media (max-width: 909px) {
    .synth {    grid-template-columns: 10px 185px 185px 185px 10px;
        width: 585px;
    }

    .presets {
        grid-column-start: 2;
        grid-column-end: 5;
    }
}


/* Синтезатор - общее */


.synth {
    display: grid;
    grid-template-rows: auto;
    /* grid-template-columns: 80px 380px 380px 380px 80px;
    width: 1300px; */

    border: 2px solid black;
    border-radius: 6px;

    background-color: white;

    margin: auto;

    box-shadow: 0px 0px 200px 0px rgb(252, 252, 252);
}


    /* Пресеты */

    .presets {
        grid-row-start: 1;
        grid-row-end: 2;
        /* grid-column-start: 3;
        grid-column-end: 4; */

        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 3fr 1fr;

        text-align: center;
    }

            .presets button {
                background-color: transparent;
                border: none;
                font-size: 1rem;
                color: black;
                transition: color 0.2s;
            }

            .presets button:hover {
                color: rgb(55, 147, 255);
            }

            .presets button:active {
                filter: contrast(200%);
            }

        .arrow-left {
            grid-row-start: 1;
            grid-row-end: 2;
            grid-column-start: 1;
            grid-column-end: 2;

            margin-top: auto;
            margin-bottom: auto;
        }

        .preset-field {
            grid-row-start: 1;
            grid-row-end: 2;
            grid-column-start: 2;
            grid-column-end: 3;
        }

        .arrow-right {
            grid-row-start: 1;
            grid-row-end: 2;
            grid-column-start: 3;
            grid-column-end: 4;

            margin-top: auto;
            margin-bottom: auto;
        }

    /* Ручки */

    .controls {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 5;


        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 3fr 3fr 3fr 1fr;

        margin-bottom: 30px;
    }

        .base-controls {
            grid-column-start: 2;
            grid-column-end: 3;
        }

        .ADSR {
            grid-column-start: 3;
            grid-column-end: 4;
        }
        
        .delay {
            grid-column-start: 4;
            grid-column-end: 5;
        }

    /* Клавиатура */

    .keyboard {
        /* display: flex; */
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 5;

        /* border: 2px solid black;
        border-radius: 3px; */
        margin: auto;

        /* background-color: #F8F0DF; */
    }

        .key-white {
            border-radius: 3px;
            border: 1px solid black;
            text-align: center;
            z-index: 1;
            grid-row: 1;
            grid-row-start: 1;
            grid-row-end: 3;
            background-color: white;
            color: black;
            font-family: 'Noto Sans', sans-serif;
            transition: background-color 0.2s;
        }

        .key-black {
            border-radius: 3px;
            border: 1px solid black;
            text-align: center;
            z-index: 2;
            grid-row: 1;
            background-color: rgb(102,102,102);
            grid-row-start: 1;
            grid-row-end: 2;
            color: black;
            font-family: 'Noto Sans', sans-serif;
            transition: background-color 0.2s;
        }

        .octave {
            display:grid;
            grid-template-columns:
            /* from C to E */
            30px 10px 10px 20px 10px 10px 30px
            /* from F to B */
            30px 10px 10px 20px 10px 10px 20px 10px 10px 30px;
            grid-template-rows: 80px 50px;
        }

        /* Расположение клавиш внутри октавы */

        .c-key {
            grid-column-start: 1;
            grid-column-end: 3;
        }

        .csh-key {
            grid-column-start: 2;
            grid-column-end: 4;
        }

        .d-key {
            grid-column-start: 3;
            grid-column-end: 6;
        }

        .dsh-key {
            grid-column-start: 5;
            grid-column-end: 7;
        }

        .e-key {
            grid-column-start: 6;
            grid-column-end: 8;
        }

        .f-key {
            grid-column-start: 8;
            grid-column-end: 10;
        }

        .fsh-key {
            grid-column-start: 9;
            grid-column-end: 11;
        }

        .g-key {
            grid-column-start: 10;
            grid-column-end: 13;
        }

        .gsh-key {
            grid-column-start: 12;
            grid-column-end: 14;
        }

        .a-key {
            grid-column-start: 13;
            grid-column-end: 16;
        }

        .ash-key {
            grid-column-start: 15;
            grid-column-end: 17;
        }

        .b-key {
            grid-column-start: 16;
            grid-column-end: 18;
        }

        .pressed {
            background-color: rgb(55, 147, 255);
        }